<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi vecino Totoro</title>
</head>
<body>
    <header></header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <article class="container">
        <h1 class="display-2 titulo"><b>Mi Vecino Totoro</b></h1>
        <section class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="..\img\Portada_Original.jpg" alt="Portada_Original"  class="mx-auto d-block portada-original ">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <h3><b>Ficha Técnica</b></h3>
              <p><b>Título original: </b>Tonari no Totoro</p>
              <p><b>Año: </b>1988</p>
              <p><b>Duración: </b>86 min.</p>
              <p><b>País: </b>Japón</p>
              <p><b>Dirección: </b>Hayao Miyazaki</p>
              <p><b>Guión: </b>Hayao Miyazaki</p>
              <p><b>Música: </b>Joe Hisaishi</p>
              <p><b>Fotografía: </b>Animación, Hisao Shirai</p>
              <p><b>Reparto: </b>Animación</p>
              <p><b>Productora: </b>Studio Ghibli</p>
            </div>
          </div>
        </section>
        <section class="row pb-2 mt-2">
            <h3><b>¿ Cómo nació “Mi Vecino Totoro ?</b></h3>
            <p>En el libro conmemorativo de los 20 años de esta cinta, Miyazaki cuenta cómo fue que nació y se desarrolló este título. Uno de los detalles más entrañables es que la primera idea clara que tuvo de la historia; se trata de una de las escenas más icónicas de la película: <b>cuando Mei está esperando el autobús bajo la lluvia</b>. Entonces fue que Miyazaki pensó por primera vez en la criatura que estaría junto a ella esperando.</p>
            <div class="row pb-2">
              <div class="col-12 col-md-6 col-lg-6 pb-2">
                  <img src="..\img\Bocetos_Originales.png" width="100%" >
                  <p class="card-text">Bocetos originales de 'Mi vecino Totoro' (Hayao Miyazaki, 1988). </p>
              </div>
              <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
                  <p>Seguramente la imagen de Totoro se fue puliendo con el tiempo hasta convertirse en el personaje que conocemos. Debemos tener en cuenta que el título de la película fue, hasta bien avanzado el proyecto. Miyazaki comenta que los primeros personajes que concibió fueron Totoro y el Gato Bus, ese misterioso ser que se especializa en buscar a personas queridas.</p>
              </div>
            </div>
        </section>
        <section class="row pb-2 mt-4">
          <h3><b>Un pueblo, un hospital y un bosque inolvidables</b></h3>
          <p>Aunque Mi vecino Totoro no menciona la ciudad, pueblo o prefectura japonesa en donde se desarrolla la historia de Satsuki, Mei y los espíritus del bosque, en especial del llamado Gran Totoro (Dai-Totoro), Miyazaki comenta que se inspiró en una ciudad real: Tokorozawa, en la prefectura de Saitama; en donde, por cierto, se ubica el llamado "Bosque de Totoro".</p>
          <p>Otro detalle importante de la cinta es la época en la que se desarrolla: en la post guerra, además de darle vital importancia a la vida rural del Japón profundo. Esto, por supuesto, le da un toque único a la cinta y es que el director dice que quiso representar esa esencia que no aparecía en otras producciones.</p>
          <div class="row pb-2">
            <div class="col-12 col-md-6 col-lg-6">
              <p>Aunque Mi vecino Totoro no se recreó la ciudad de Tokorozawa sino que se inspiró en ella, sí que hay un lugar de la vida real que aparece en la cinta. Se trata del hospital Shin Yamanote, en donde la madre del propio Miyazaki estuvo internada durante una época. Así que, como podemos ver, se trata de una película que tiene muchos elementos del mítico animador y que, además, cuenta una historia sorprendente y emotiva. Sin duda una excusa más para volver a ver este precioso título del Studio Ghibli.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 pb-2">
              <img src="..\img\Bosque_Totoro.jpg" width="100%" >
              <p class="card-text">Bosque de Tototo.</p>
            </div>
          </div>
        </section>
        <section class="row pb-2 mt-4">
          <h3><b>Distribución y Recepción Mundial</b></h3>
          <p>Mi vecino Totoro tuvo un enorme éxito en su estreno en Japón en 1988. El impacto cultural fue tan grande que Totoro se convirtió en la mascota del estudio y es tan popular en los niños japoneses como Winnie the Pooh para los niños occidentales.</p>
          <div class="row pb-2">
            <div class="col-12 col-md-6 col-lg-6 pb-2">
              <img src="..\img\Cameo_Toy_Story.jpg" width="100%" >
              <p class="card-text">Cameo de Totoro en Toy Story 3.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <p>En Estados Unidos se estrenó en 1993, siendo el primer país occidental en recibir la película. Los críticos estadounidenses acogieron muy bien la película, y diarios como The New York Times la definieron como «una bella y artística obra maestra». En Iberoamérica, la película se estrenó en VHS a lo largo de la década de 1990, en Europa el estreno de Mi vecino Totoro fue más tardío ocuuriendo entre los años 1995 y 2007.</p>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-12 col-md-6 col-lg-6">
              <p>Tal fue el éxito en su estreno original que Totoro hace breves apariciones en otras películas del estudio, como en Susurros del corazón o Pompoko. En la película Toy Story 3, Totoro es uno de los juguetes que aparecen, aunque no tiene un papel relevante. Este cameo se debe a la admiración que John Lasseter, director creativo de Pixar, tiene por la obra de Hayao Miyazaki.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 pb-2">
              <img src="..\img\Cameo_Pompoko.jpg" width="100%" >
              <p class="card-text">Cameo de Totoro en Pompoko.</p>
            </div>
          </div>
        </section>
        <section class="pb-2 mt-4 mb-4">
          <h3><b>Distribución y Recepción Mundial</b></h3>
          <br>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Premio</th>
                <th scope="col">Año</th>
                <th scope="col">Categoría</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Kinema Junpo Award</th>
                <td>1989</td>
                <td>«Mejor película»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Kinema Junpo Award</th>
                <td>1989</td>
                <td>«Mejor película japonesa»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Mainichi Film Awards</th>
                <td>1989</td>
                <td>«Mejor película»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Mainichi Film Awards</th>
                <td>1989</td>
                <td>«Premio Ofuji Noburo»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Blue Ribbon Awards</th>
                <td>1989</td>
                <td>«Premio especial»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Animage Anime Awards</th>
                <td>1989</td>
                <td>«Grand Prix prize»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Premio Seiun</th>
                <td>1989</td>
                <td>«Mejor medio»</td>
                <td>Ganadora</td>
              </tr>
              <tr>
                <th scope="row">Premios Saturn</th>
                <td>1995</td>
                <td>«Mejor película por género»</td>
                <td>Nominada</td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
    </main>
    <footer></footer>
</body>
</html>