<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi vecino Totoro Argumento</title>
</head>
<body>
    <header></header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <article class="container"></article>
          <h1 class="display-2 titulo"><b>Argumento</b></h1>
            <p>Japón, año 1958. El profesor universitario Tatsuo Kusakabe y sus dos hijas, Satsuki y Mei, se trasladan a una antigua residencia rural para estar más cerca del hospital donde la madre de las niñas, Yasuko, se recupera de tuberculosis. Satsuki y Mei descubren que la casa está habitada por diminutas criaturas de hollín llamadas susuwatari —espíritus pequeños, oscuros y similares al hollín que viven en lugares abandonados—. Cuando las niñas y su padre se sienten cómodos en su nueva casa y los susuwatari observan que son personas buenas, estos abandonan la residencia, presumiblemente en busca de otro sitio para vivir.</p>
            <p>Un día, Mei observa a una criatura similar a un conejo blanco y lo sigue por debajo de la casa. Luego descubre que en realidad se trata de un pequeño espíritu, que junto a otra criatura la conducen a través de un camino del bosque y posteriormente hasta el hueco de un gran árbol de alcanfor.</p>
            <div class="row pb-2">
                <div class="col-12 col-md-6 col-lg-6 pb-2">
                    <img src="..\img\Totoros_Caminando.jpg" width="100%" >
                    <p class="card-text">Totoros a través del bosque. </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
                    <!-- <p>Un día, Mei observa a una criatura similar a un conejo blanco y lo sigue por debajo de la casa. Luego descubre que en realidad se trata de un pequeño espíritu, que junto a otra criatura la conducen a través de un camino del bosque y posteriormente hasta el hueco de un gran árbol de alcanfor.</p> -->
                    <p>Allí, conoce y se hace amiga de una versión mucho más grande del mismo tipo de espíritu, a quien ella identifica como «Totoro» con base de una serie de rugidos que este emite. Mei cae dormida, y al despertar se encuentra de nuevo en el patio de su casa. A pesar de sus muchos intentos, Mei es incapaz de mostrar el árbol de Totoro a su familia.</p>
                </div>
            </div>
            <p>Una noche de lluvia, las niñas se proponen a esperar el autobús de su padre y se preocupan cuando este no arriba. Mientras esperan, Mei se duerme y Totoro aparece junto a ellas, con Satsuki viéndolo por primera vez. Totoro solo tiene una hoja en la cabeza para protegerse de la lluvia, por lo que Satsuki le ofrece el paraguas que había llevado para su padre. Totoro queda encantado tanto con el paraguas como por los sonidos hechos por las gotas de lluvia. A cambio, le da un manojo de nueces y semillas a las niñas. Un autobús con la forma de un gato gigante se detiene en la parada y Totoro se aleja en él. Poco después, llega el autobús de su padre.</p>
            <div class="row pb-2">
                <div class="col-12 col-md-6 col-lg-6 pb-2">
                    <img src="../img/Totoro_Danza.jpg" width="100%" >
                    <p class="card-text">Totoros a través del bosque. </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <p>Las niñas plantan las semillas, pero no parecen florecer. Unos días más tarde, despiertan a medianoche para encontrarse a Totoro y las otras dos criaturas, realizando una danza ceremonial alrededor de nueces y semillas plantadas. Las muchachas se unen a la danza, después de lo cual las semillas brotan y crecen para formar un árbol gigante. Totoro lleva a sus colegas y a las niñas en un paseo. A la mañana siguiente, el árbol desapareció, pero las semillas brotaron, dejando a Satsuki y Mei con la duda de si fue un sueño o no.</p>
                    <!-- <p>Poco después, las niñas descubren que la visita de su madre debe ser pospuesta debido a un retroceso en su salud. Satsuki, decepcionada y preocupada, le dice a Mei las malas noticias, quien se niega a aceptarlo. Esto conduce a una discusión entre las hermanas, con Mei decidiendo ir al hospital por su cuenta para llevarle una mazorca a su madre, creyendo que la sanaría.</p> -->
                </div>
            </div>
            <p>Poco después, las niñas descubren que la visita de su madre debe ser pospuesta debido a un retroceso en su salud. Satsuki, decepcionada y preocupada, le dice a Mei las malas noticias, quien se niega a aceptarlo. Esto conduce a una discusión entre las hermanas, con Mei decidiendo ir al hospital por su cuenta para llevarle una mazorca a su madre, creyendo que la sanaría.</p>
            <p>La desaparición de Mei provoca que Satsuki y los vecinos la busquen por los alrededores. Finalmente, una desesperada Satsuki acude a Totoro por ayuda. Encantado de poder ayudar, Totoro convoca al gatobús, quien la lleva a donde se encuentra Mei. Después de la reunión de las niñas, el gatobús las traslada al hospital para ver a su madre. Las muchachas oyen en un árbol fuera del hospital una conversación entre sus padres, y descubren que su madre solo había sido mantenida en el hospital por un resfriado leve y su salud no corría peligro. Secretamente dejan la mazorca de maíz en el alféizar de la ventana, donde es descubierta por sus padres, y vuelven a casa.</p>
            <div class="row pb-2">
                <img src="../img/Gatobus_Escena.jpg">
                <p class="card-text">Totoros a través del bosque. </p>
            </div>
            <div>
              <p>
                En los créditos finales, la madre de Mei y Satsuki vuelve a casa, y las hermanas juegan con otros niños, con Totoro y sus amigos como observadores invisibles.
              </p>
            </div>
            <br>
        </article>
    </main>
    <footer></footer>
</body>
</html>