<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi vecino Totoro Galeria</title>
</head>
<body>
    <header></header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main >
      <article class="container mt-4">
        <h1 class="display-2 titulo"><b>Galería</b></h1>
        <section>
          <h3><b>Fondos de pantalla</b></h3>
          <!-- Carousel -->
          <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active p-4">
                <img src="..\img\Foto_Fondo_1.png" alt="Fondo de pantalla 1" class="d-block" style="width:100%">
              </div>
              <div class="carousel-item p-4">
                <img src="..\img\Foto_Fondo_2.png" alt="Fondo de pantalla 2" class="d-block" style="width:100%">
              </div>
              <div class="carousel-item p-4">
                <img src="..\img\Foto_Fondo_3.png" alt="Fondo de pantalla 3" class="d-block" style="width:100%">
              </div>
              <div class="carousel-item p-4">
                <img src="..\img\Foto_Fondo_4.png" alt="Fondo de pantalla 4" class="d-block" style="width:100%">
              </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </section>
        <section>
          <h3><b>Cameos</b></h3>
          <!-- Carousel -->
          <div id="demo1" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo1" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo1" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo1" data-bs-slide-to="2"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_cameo_1.png" alt="Cameo Toy Story" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_cameo_2.png" alt="Cameo en Pompoko" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_cameo_3.png" alt="Cameo Toy Story 2" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_cameo_1.png" alt="Cameo Toy Story" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_cameo_2.png" alt="Cameo en Pompoko" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_cameo_3.png" alt="Cameo Toy Story 2" class="d-block" width="100%">
                  </div>
                </div>
              </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </section>
        <section>
          <h3><b>Portadas</b></h3>
          <!-- Carousel -->
          <div id="demo2" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo2" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_Portada_1.png" alt="Portada Ingles" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_Portada_2.png" alt="Portada Original" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_Portada_3.png" alt="Portada Espanol" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_Portada_1.png" alt="Portada Ingles" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col-sm-6 col-12 p-4">
                    <img src="..\img\Foto_Portada_2.png" alt="Portada Original" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-6 p-4 foto-ocultar" >
                    <img src="..\img\Foto_Portada_3.png" alt="Portada Espanol" class="d-block" width="100%">
                  </div>
                </div>
              </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo2" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </section>
        <section>
          <h3><b>Personajes</b></h3>
          <!-- Carousel -->
          <div id="demo3" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo3" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo3" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo3" data-bs-slide-to="2"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Mei_Kusakabe.webp" alt="Mei Kusakabe" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Satsuki_Kusakabe (1).jpg" alt="Satsuki Kusakabe" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4 foto-ocultar" >
                    <img src="../img/Tatsuo_Kusakabe (1).jpg" alt="Tatsuo Kusakabe" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Totoro (1).jpg" alt="Totoro" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Obaa-chan(2).jpg" alt="Obaa-chan" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4 foto-ocultar" >
                    <img src="../img/Yasuko_Kusakabe(1).jpg" alt="Yasuko Kusakabe" class="d-block" width="100%">
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Gatobus (1).jpg" alt="Gatobus" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4">
                    <img src="../img/Susuwatari (1).jpg" alt="Susuwatari" class="d-block" width="100%">
                  </div>
                  <div class="col-sm-4 col-6 p-4 foto-ocultar" >
                    <img src="../img/Kanta_Ogaki.jpg" alt="Kanta Ogaki" class="d-block" width="100%">
                  </div>
                </div>
              </div>
  
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo3" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </section>
      </article>
    </main>
    <footer></footer>

</body>

</html>
