<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi Vecino Totoro - Mei Kusakabe</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" >Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <section class="container mt-4">
        <h1 class="display-2 titulo"><b>Mei Kusakabe</b></h1>
        <article class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="..\img\Mei_Kusakabe.webp" alt="Portada_Original"  width="100%" class="mx-auto d-block">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <p><b>Nombre japonés: </b>草壁メイ (Mei Kusakabe)</p>
              <p><b>Especie: </b>Humano</p>
              <p><b>Edad: </b>4 años</p>
              <p><b>Género: </b>Femenino</p>
              <p><b>Rol: </b>Protagonista</p>
              <p><b>Primera aparición: </b>Mi vecino Totoro</p>
              <p><b>Segunda aparición: </b>Mei y el bus-gatito</p>
            </div>
          </div>
        </article>
        <article>
            <h3><b>Personalidad</b></h3>
            <p>Mei es la hermana menor de Satsuki en Mi vecino Totoro, es una niña perseverante y resuelta, obstinada pero alegre, con su timidez inicial y tendencia a pocas palabras. Parece ser bastante curiosa, si se encuentra con algo interesante, se obsesiona con él y olvida el camino a casa o la hora, lo que molesta a su hermana mayor.</p>
        </article>
        <article>
          <h3><b>Apariencia</b></h3>
          <p>Mei Kusakabe tiene cuatro años. Ella tiene cabello castaño arena y ojos color chocolate, lleva una blusa blanca hinchada con un vestido rosa brillante (como regalo en su cumpleaños y comprado en una tienda) y zapatos amarillos y bombachos blancos, y lleva una bolsa amarilla. Al final de la película, lleva un vestido rosa clavel. Mei también usa un camisón amarillo sol por la noche y un camisón azul cielo por la noche en la secuela.</p>
        </article>
      </section>
    </main>
</body>
</html>