<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi Vecino Totoro - Obaa-chan</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" >Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <section class="container mt-4">
        <h1 class="display-2 titulo"><b>Obaa-chan</b></h1>
        <article class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="..\img\Obaa-chan(2).jpg" alt="Portada_Original"  width="100%" class="mx-auto d-block">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <p><b>Nombre japonés: </b>お祖母ちゃん (Obaa-chan)</p>
              <p><b>Especie: </b>Humano</p>
              <p><b>Género: </b>Femenino</p>
              <p><b>Rol: </b>Personaje de apoyo</p>
              <p><b>Primera aparición: </b>Mi vecino Totoro</p>
            </div>
          </div>
        </article>
        <article>
          <h3><b>Personalidad</b></h3>
          <p>Es una amable anciana que se preocupa por cada uno de sus vecinos. Mei es difícil de tratar porque es terca. A pesar de esto, intenta complacerla e incluso llevar a Mei a la Escuela de Satsuki</p>
        </article>
        <article>
          <h3><b>Apariencia</b></h3>
          <p>Tiene cabello gris, ojos negros y viste una camisa blanca, una túnica de color bígaro y un sombrero blanco.</p>
        </article>
      </section>
    </main>
</body>
</html>