<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi vecino Totoro Personajes</title>
</head>
<body>
    <header></header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
        <h1 class="display-2 titulo"><b>Personajes</b></h1>
        <article class="container mt-4 text-center">
            <div class="row">
                <div class="col-md-4 col-12 mb-4">
                    <div class="card p-3 mb-4">
                        <img src="../img/Mei_Kusakabe.webp" class="card-img-top"  
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a></a>
                          <a href="Mei_Kusakabe.html"><h5 class="card-title">Mei Kusakabe</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-4">
                    <div class="card p-3 mb-4">
                        <img src="../img/Satsuki_Kusakabe (1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Satsuki_Kusakabe.html"><h5 class="card-title">Satsuki Kusakabe</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 mb-4">
                    <div class="card p-3 mb-4">
                        <img src="../img/Tatsuo_Kusakabe (1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Tatsuo_Kusakabe.html"><h5 class="card-title">Tatsuo Kusakabe</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="card p-3 mb-4">
                        <img src="../img/Totoro (1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Totoro.html"><h5 class="card-title">Totoros</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <div class="card p-3 mb-4">
                        <img src="../img/Obaa-chan(2).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                          <div class="card-body">
                            <a href="Obaa-chan.html"><h5 class="card-title">Obaa-chan</h5></a>
                          </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card p-3 mb-4">
                        <img src="../img/Yasuko_Kusakabe(1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Yasuko_Kusakabe.html"><h5 class="card-title">Yasuko Kusakabe</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="card p-3 mb-4">
                        <img src="../img/Gatobus (1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Gatobus.html"><h5 class="card-title">Gatobús</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card p-3 mb-4">
                        <img src="../img/Susuwatari (1).jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Susuwatari.html"><h5 class="card-title">Susuwatari</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card p-3 mb-4">
                        <img src="../img/Kanta_Ogaki.jpg" class="card-img-top"
                          alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                          <a href="Kanta_Ogaki.html"><h5 class="card-title">Kanta Ōgaki</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    </main>
    <footer></footer>
</body>
</html>