<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi Vecino Totoro - Satsuki Kusakabe</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" >Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <article class="container mt-4">
        <h1 class="display-2 titulo"><b>Satsuki Kusakabe</b></h1>
        <section class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="../img/Satsuki_Kusakabe (1).jpg" alt="Portada_Original"  width="100%" class="mx-auto d-block">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <p><b>Nombre japonés: </b>草壁 サツキ (Kusakabe Satsuki)</p>
              <p><b>Especie: </b>Humano</p>
              <p><b>Edad: </b>10 años</p>
              <p><b>Género: </b>Femenino</p>
              <p><b>Rol: </b>Protagonista</p>
              <p><b>Primera aparición: </b>Mi vecino Totoro</p>
              <p><b>Segunda aparición: </b>Mei y el bus-gatito</p>
            </div>
          </div>
        </section>
        <section>
            <h3><b>Personalidad</b></h3>
            <p>Satsuki es una persona brillante y alegre. Satsuki es trabajadora e inteligente, como se muestra cuando estudia en la escuela o ayuda en su nuevo hogar. También es muy abierta y agradable con personas como Granny e incluso Kanta después de conocer su lado amistoso.</p>
        </section>
        <section>
          <h3><b>Apariencia</b></h3>
          <p>Satsuki tiene cabello castaño corto y ojos marrón chocolate (los ojos en su mayoría parecen negros debido a la coloración y el estilo artístico). Lleva una falda color mandarina con tirantes color mandarina, bombachos blancos, una camisa con cuello amarillo sol, un par de zapatos azul cielo y un sombrero blanco (solo se usa en algunas escenas).</p>
          <p>En la segunda mitad de la película lleva un vestido amarillo con dobladillos blancos. Es notablemente alta en comparación con su hermana y un poco más alta que algunos de los niños de su edad en su escuela.</p>
        </section>
      </article>
    </main>
</body>
</html>