<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi Vecino Totoro - Totoro</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" >Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <section class="container mt-4 mb-4">
        <h1 class="display-2 titulo"><b>Totoros</b></h1>
        <article class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="../img/Totoro (1).jpg" alt="Portada_Original"  width="100%" class="mx-auto d-block">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <p><b>Nombre japonés: </b>トトロ (Los Totoro)</p>
              <p><b>Especie: </b>Espiritu</p>
              <p><b>Rol: </b>Trigonista</p>
              <p><b>Primera aparición: </b>Mi vecino Totoro</p>
              <p><b>Segunda aparición: </b>Mei y el bus-gatito</p>
            </div>
          </div>
        </article>
        <article>
          <p>son tres espíritus del bosque que habitan en el interior de un gigantesco árbol milenario, más específicamente, en un alcanforero.</p>
        </article>
        <article>
            <h3><b>Gran Totoro (大トトロ Dai-Totoro)</b></h3>
            <p>Totoro aparece como una gran criatura peluda con pelaje gris y vientre beige con unas manchas similares a flechas grises en el pecho. Tiene orejas puntiagudas, bigotes largos y patas grandes con garras largas. Cuando flota, su boca se expande enormemente. Su silueta se parece vagamente a la de un búho.</p>
            <p>se caracteriza por tener una personalidad divettida, graciosa,simpatico, amable, cariñoso y mas.</p>
        </article>
        <article>
          <h3><b>Totoro mediano (中トトロ Chū-Totoro)</b></h3>
          <p>De color azul.</p>
        </article>
        <article>
          <h3><b>Pequeño Totoro (小トトロ Chibi-Totoro)</b></h3>
          <p>De color blanco, similar a un roedor.</p>
        </article>
        <article>
          <img src="..\img\Totros_Bosque.jpg" alt="Totoros"  width="100%" class="mx-auto d-block">
          <p class="card-text">Totoros mediano y pequeño.</p>
        </article>
      </section>
    </main>
</body>
</html>