<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\lib\bootstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="..\css\styles.css">
    <script src="..\lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Mi Vecino Totoro - Yasuko Kusakabe</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" >Mi Vecino Totoro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="acerca_de.html">Acerda de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="argumento.html">Argumento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="personajes.html">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <article class="container mt-4">
        <h1 class="display-2 titulo"><b>Yasuko Kusakabe</b></h1>
        <section class="row pb-2 text-center mt-4">
          <div class="col-12 col-md-6 col-lg-6 mb-4">
            <img src="../img/Yasuko_Kusakabe(1).jpg" alt="Portada_Original"  width="100%" class="mx-auto d-block">
          </div>
          <div class="col-12 col-md-6 col-lg-6 centrar-elementos">
            <div>
              <p><b>Nombre japonés: </b>草壁靖子 (Yasuko Kusakabe)</p>
              <p><b>Especie: </b>Humano</p>
              <p><b>Edad: </b>29 años</p>
              <p><b>Género: </b>Femenino</p>
              <p><b>Rol: </b>Personaje de apoyo</p>
              <p><b>Primera aparición: </b>Mi vecino Totoro</p>
            </div>
          </div>
        </section>
        <section>
            <h3><b>Personalidad</b></h3>
            <p>No se ve mucho de ella, pero se muestra cariñosa, amable y amorosa. Parece una buena madre y realmente se preocupa por sus hijos.</p>
        </section>
        <section>
          <h3><b>Apariencia</b></h3>
          <p>Yasuko tiene ojos marrones y cabello castaño liso que generalmente está recogido en una cola de caballo baja. Solo se la ve con su bata de hospital en la película.</p>
        </section>
      </article>
    </main>
</body>
</html>